#divStatName {
    text-align: left;
}

#divStats {
    text-align: right;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-content: stretch;
}

#baseStat {
    padding-left: 100px;
}

#statsTable>div:nth-child(odd) {
    background-color: blanchedalmond;
}

td {
    text-transform: capitalize;
}