<div *ngIf="pokemon">
    <h3>Base Stats</h3>
    <div id="statsTable">
        <div *ngFor="let stats of pokemon.stats">
            <div >
                <table border="0" width="100%" style="margin:0px;">
                    <tr>
                        <td>{{stats.stat.name}}</td>
                        <td align="right">{{stats.base_stat}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>