<div>
    <div>  
        <div *ngIf="apiresponse">
            <div class="container-fluid" style="width: 90%; margin: 0 auto;">
                <div class="card-group" style="width: 100%; display: flex; flex-wrap: wrap;">
                    <input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchString" (input)="searchForPokemons()"/>
                        <div *ngFor="let poke of searchResult">
                            <div >
                                <app-pokemon-list-item [pokemon]="poke"></app-pokemon-list-item>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
        <div style="position: relative; left: 45%; width: 50%;">
            <button (click)="onClick()">Load more</button>
        </div>
    </div>
</div>