.card {
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;   
}

.img-thumbnail {
    min-width: 50px;
    width: 25%;
    margin-left: 37%;
}

#buttonGoBack {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .img-thumbnail {
      min-width: 75px;
      width: 25%;
      margin-left: 32%;
    }
    #buttonGoBack {
        font-size: 35%;
        width: 25%;
    }
  }