
<div *ngIf="pokemon">
    <div class="card">
        <button type="button" class="btn btn-secondary btn-lg" id="buttonGoBack" (click)="goBack()">Back</button>
        <img class="img-thumbnail" src={{pokemon.sprites.front_default}}>
        <div class="card-body">
            <app-pokemon-profile [pokemon]="pokemon"></app-pokemon-profile><hr>
            <app-pokemon-stats [pokemon]="pokemon"></app-pokemon-stats><hr>
            <app-pokemon-moves [pokemon]="pokemon"></app-pokemon-moves>
        </div>
    </div>
</div>