<div *ngIf="pokemon">
    <div class="flex-container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{pokemon.height/10}} m</h5>
                <h6 class="card-subtitle mb-2 text-muted">height</h6>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{pokemon.weight/10}} kg</h5>
                <h6 class="card-subtitle mb-2 text-muted">weight</h6>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{pokemon.base_experience}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">exp</h6>
            </div>
        </div>
        <div *ngFor="let type of pokemon.types">
            <div>
                <div id="statCard" class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{type.type.name}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="pokemon">
            <hr><div class="flex-container">
                <div id="abilitySlot">
                
                <h3>Abilities</h3>
                <div>
                    <div *ngFor="let ability of pokemon.abilities.slice().reverse(), let i=index">
                        <p>Slot {{ability.slot}}: {{ability.ability.name}}</p>
                    </div>
                </div>
                </div>
                <div>
                    <img src={{pokemon.sprites.back_default}}/>
                </div>
                <div>
                    <img src={{pokemon.sprites.front_default}}/>
                </div>
                <div>
                    <img src={{pokemon.sprites.back_shiny}}/>
                </div>
                <div>
                    <img src={{pokemon.sprites.front_shiny}}/>
                </div>
            </div>
        </div>
    </div>