/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


body {
    background-image: url("src/assets/background.png");
    font-family: "Comic Sans MS", "Comic Sans", "Arial", "Noto Sans KR", "Helvetica Light";
    color: black;
}