<div *ngIf="pokemon" style="display: inline;">
    <a routerLink="pokemon-detail/{{pokemon.name}}">
        <div class="container-fluid" style="width: 75%;">
            <div class="card-group" style="width: 12rem; margin: 15px; float: left;">
                <div class="card" style="text-align: center;">
                    <div *ngIf="pokemon.sprites">
                        <img src={{pokemon.sprites.front_default}} /></div>
                    <div *ngIf="pokemon">
                        <h6>{{pokemon.name | uppercase}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>